In [45]:
from random import randint
import pandas as pd

In [20]:
def generateMachines(number):
    machines = []
    for i in range(1,number+1):
        machines.append(f'Machine_{i}')
    return machines

In [43]:
def generateDataObjects(number_machines,observations):
    machines = generateMachines(number_machines)
    observationList = []
    for i in range(0,observations):
        machine = randint(0,number_machines-1)
        observation = {"id":i,"Machine":machines[machine],"Week":randint(1,25),"Labor Hours":randint(1,5),"Downtime Hours":randint(1,5)}
        observationList.append(observation)
    return observationList

In [48]:
def generateDataFrame(number_machines,observations):
    data = generateDataObjects(number_machines,observations)
    testData = pd.DataFrame(data)
    return testData

In [49]:
generateDataFrame(10,10)

   id    Machine  Week  Labor Hours  Downtime Hours
0   0  Machine_9     8            2               4
1   1  Machine_4     6            1               4
2   2  Machine_1     6            3               3
3   3  Machine_9    24            3               2
4   4  Machine_6    16            1               2
5   5  Machine_1     3            1               5
6   6  Machine_3     1            1               2
7   7  Machine_4     5            2               3
8   8  Machine_3    24            2               2
9   9  Machine_2    12            4               5